%% vim: ts=4 sw=4 et ft=erlang
{deps, [
    %% REQUIRED FOR ALL VERSIONS
    {simple_bridge, "", {git, "git://github.com/nitrogen/simple_bridge", {branch, master}}},

    %% INETS
    %% mimetypes is optional but recommended for inets
    % {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, master}}}
   
    %% COWBOY
    {cowboy,        ".*",   {git, "https://github.com/ninenines/cowboy.git",   {tag, "2.6.3"}}},
    {ranch,         ".*",   {git, "https://github.com/ninenines/ranch.git",    {tag, "1.7.1"}}}

    %% MOCHIWEB
    %{mochiweb,      "2.*",  {git, "git://github.com/mochi/mochiweb.git",    {tag, "v2.7.0"}}}

    %% WEBMACHINE
    %{webmachine,    "1.*",  {git, "git://github.com/basho/webmachine.git",  {tag, "1.10.5"}}}

    %% YAWS    
    %{yaws, "1.*", {git, "git://github.com/klacke/yaws",	{tag, "yaws-1.98"}}}


]}.

